[Desktop Entry]
Icon=text-html
Name=https://tcrf.net/User:Missile/Prerelease:Barkley_2#
Type=Link
URL[$e]=https://tcrf.net/User:Missile/Prerelease:Barkley_2#
